%h2 „Freiheit ist die Einsicht in die Notwendigkeit.“

%p Herzlich Willkommen,

%p hier können Sie sehr gerne rumstöbern! Ich präsentiere Ihnen den Alltag eines freien Journalist, der sich nach seinem erfolgreichen Studium der Germanistik und Philosophie selbstständig gemacht hat und jetzt für einen kritischen Umgang mit der Hochkultur steht. Nebenher bleibe ich am Gesellschaftlich-Politischen dran und könnte auch Ihre Aufträge bearbeiten. Mein Zitat erklärt eine Leitlinie ohne die ich bei all den schönen Dingen verloren wäre: Ohne Ruhe und Konzentration lässt sich schwerlich arbeiten! Viel Spaß auf meiner Homepage!
