%h2 „Freiheit ist die Einsicht in die Notwendigkeit.“

%p Hier finden Sie meine Kontaktdaten und eine Übersicht über meine bisherigen Arikel. Der Rest der Seite befindet sich im Moment noch im Aufbau.
