%h2 Über mich
.article
  %p Geboren bin ich am 25. Februar 1980 in Wolfen. 
  %p Mitten hinein geschleudert in die Auseinandersetzungen mit dem real existierenden Sozialismus erlebte ich die Wende im heimischen Wohnzimmer, besuchte anschließend das Gymnasium Sandersdorf und entschied mich nach dem Abitur für den Zivildienst, den ich am Städtischen Klinikum Dessau erbrachte. Zur Zufriedenheit aller. Schon zu Abiturzeiten beschäftigte ich mich mit den Büchern, der Kultur. Entsprechend lehnte ich das Angebot für eine Ausbildung zum Krankenpfleger ab und wähle die Martin-Luther-Universität Halle/Wittenberg. 
  %p Dort sass ich zuerst ab 1999 als Student der Germanistik und Philosophie in Seminaren, merkte wie groß die Unterschiede zwischen Literaturbegeisterung und akademischer Ausrichtung sind. Diesen Zwiespalt konnte ich weder als Hilfskraft noch als wissenschaftlicher Mitarbeiter am Institut für Germanistik lösen. 
  %p Zu weit weg vom echten Leben, unterbezahlt und mit geringen Chancen auf dem Arbeitsmarkt, ging ich als Magister 2007 einen anderen Weg. Mit Entschiedenheit. Ich zog nach Freiburg im Breisgau, lebte auf einem Bauernhof und ernährte mich von Nachhilfeunterricht, Nebenjobs und der Sonne in Südbaden. 2011 erkannte ich die Gefahren einer Lebensweise, die nur von früh bis Mittag denkt. Ich ging nach Leipzig und machte mich selbstständig, baute Kontakte auf, nahm das Wissen über die Welt und aus dem Studium mit. 
  %p Die Resultate sehen Sie in meinem Pressespiegel!
