%h2 Über mich
.article
  %p
    In einem kleinen verschlummerten Örtchen in der Nähe von Bitterfeld bin ich aufgewachsen.
    Sie wissen ja: “Treffen wir uns nicht in dieser Welt, so treffen wir uns in Bitterfeld”.

  %p 
    Ungefähr von 1980 bis 1998.
    Dort gab es viel Fußball, ein bisschen Freiwillige Feuerwehr, viel geistige Enge, liebe Eltern und sonst nix. Als Idealist entschloss ich mich nach dem Abitur zum Zivildienst, den ich in Dessau im Städtischen Klinikum zur Zufriedenheit aller erledigte:

  %p
    Um dem Idealismus die Krone aufzusetzen, entschied ich mich  für ein Studium der Germanistik und Philosophie in Halle an der Saale. Er war eine wilde und schöne Zeit. Es wurde viel diskutiert, noch mehr geschrieben und letztlich war ich stolzer Besitzer eines Magisterzeugnisses.

  %p
    Nahtlos ging es dann mit der Gesamtnote von 1,1 direkt in die Arbeitslosigkeit. Machte keinen Spaß....

  %p
    Aufenthalt in Freiburg im Breisgau. Von 2007 bis 2011. Dort jobbte ich als Türsteher, unterrichte Schüler und Studenten in Mathematik, Deutsch und all den Dingen, die so anfielen. Zeit, ein neues Konzept für mich zu entwickeln.

  %p 
    So stand ich dann  2012  in Leipzig auf den Straßen, genoss die Kultur und die revolutionssüchtigen Mentalitäten. Mein Konzept geht auf: ich arbeite als freier Journalist, kenne die Leipziger Szene. Zu meinen Schwerpunkten zählt heute die Kultur: Rezensionen aller Art (Kabarett, Theater, Oper), aber auch Berichte über das Alltägliche und die gesellschaftlichen Brennpunkte.

  %p 
    Vor dem Hintergrund meines Studium äußere ich mich auch  zu Bücher, Platten und Jubiläen von Schriftstellern, Philosophen und auch ganz anderen Menschen.

  %p 
    Nebenbei gebe ich zu: Krimis meine ganze Leidenschaft. Bei Dona Leon und Kurt Wallander bin ich auch zu Hause.

  %p 
    Doch:

  %p 
    Ein Tag am See, Sonne im Nacken, meine Freundin an meiner Seite und ein neuer zu knackender Fall: Traumhafter geht es für mich nimmer!

  %p 
    Jedoch : Ich suche Partner für meine Arbeit! Damit Sie nicht glauben, ich wäre nur ein Lebemann: Schauen Sie sich meine Projekte, meine Rezensionen an. Fragen Sie mich, wenn es etwas zu tun gibt!

  %p 
    Danke dafür, dass Sie meine Zeilen aufmerksam verfolgt haben!
