%h2 Service

%p Meinen Kunden biete ich als Freiberufler einen journalistischen Vollservice an. Ich schreibe für Sie:

%ul
    %li Werbetexte
    %li Pressemitteilungen
    %li Newsletter
    %li Newsmeldungen
    %p
    %li Reportagen
    %li Features
    %li Interviews
    %li Porträts
    %p
    %li Textinhalte für Internetseiten

%p Ich bin jederzeit für eine Zusammenarbeit mit Redaktionsbüros, Zeitungen, Zeitschriften, Verlagen und Unternehmen offen. 
